# Ignore everything.
**

# Except the following.
!src
!src/**
!LICENSE.txt
!pyproject.toml
!uv.lock
!README.md
!requirements.txt
!requirements-nexus.txt

# Filter unwanted files from included folders.
**/__pycache__
**.py[cod]

